voltage/src/main/resources/test.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.dataaccess.com/webservicesserver/" name="NumberConversion" targetNamespace="http://www.dataaccess.com/webservicesserver/">
    <types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.dataaccess.com/webservicesserver/">
            <xs:element name="loginForApplicationIn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="login" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="applicationId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginForApplicationInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loginForApplicationResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="loginForApplicationInSoapRequest">
        <part name="parameters" element="tns:loginForApplicationIn"/>
    </message>
    <message name="loginForApplicationInSoapResponse">
        <part name="parameters" element="tns:loginForApplicationInResponse"/>
    </message>
    <portType name="loginForApplicationInSoapType">
        <operation name="loginForApplicationIn">
            <documentation>Returns the word corresponding to the positive number passed as parameter. Limited to quadrillions.</documentation>
            <input message="tns:loginForApplicationInSoapRequest"/>
            <output message="tns:loginForApplicationInSoapResponse"/>
        </operation>

    </portType>
    <binding name="loginForApplicationInSoapBinding" type="tns:loginForApplicationInSoapType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="loginForApplicationIn">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="loginForApplicationInSoapBinding12" type="tns:loginForApplicationInSoapType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="loginForApplicationIn">
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AppAuthenticationService">
        <documentation>The Number Conversion Web Service, implemented with Visual DataFlex, provides functions that convert numbers into words or dollar amounts.</documentation>
        <port name="AppAuthenticationSoap" binding="tns:loginForApplicationInSoapBinding">
            <soap:address location="http://sesame.assurance.bnpparibas.com/int/schema/mp/sesame/AppAuthenticationService/v/NumberConversion.wso?wsdl"/>
        </port>
        <port name="AppAuthenticationSoap12" binding="tns:loginForApplicationInSoapBinding12">
            <soap12:address location="http://sesame.assurance.bnpparibas.com/int/schema/mp/sesame/AppAuthenticationService/v/NumberConversion.wso?wsdl"/>
        </port>
    </service>
</definitions>